.home {
  background-image: url('../Assets/Imgs/rainbow-landscape-1.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content:center;
  height: 100vh;

  text-align: center;
  font-family: 'Averia Gruesa Libre', cursive;
  font-family: 'Averia Sans Libre', cursive;
  font-weight: bold;
}

.react-floater-animated {
  display: flex;
  justify-content: center;
}

/* .unicorn {
  height: 38vh; 
} */

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}

.start-game-button {
  background-image: linear-gradient(pink, yellow);
  font-size: x-large;
  font-family: 'Averia Gruesa Libre', cursive;
  font-family: 'Averia Sans Libre', cursive;
  font-weight: bold;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.rainbow {
  -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.start-game-button:hover {
  -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0);
  cursor:grab;
}

/* @media (max-width: 720px) {
  .home {
    height: 100vh;
    padding: 0;
    line-height: 1em;
  }

  .unicorn {
    height: 30vh;
  }

  h1 {
    font-size: 2em;
    line-height: 1.2em;
  }
  
  p {
    font-size: 1em;
    width: 95vw;
  }
} */